body {
    background-color: darkgray;
}

.page {
    width: 1300px;
    background-color: #FFF9F9;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.container {
    margin: 45px;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    padding: 0;
    text-align: center;
    font-size: 50px;
    border-style: double;
    border-color: black;
    border-width: 10px;
    color: #BF0A30;
    background-color: #FFE0E0;
}

h2 {
    padding: 0;
    text-align: center;
    font-size: 35px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    color: #B43757;
    background-color: #FFE0E0;
}

.departdelay {
    color: #8B0000;
    font-weight: bold;
}

.arrivedelay {
    color: #FC7676;
    font-weight: bold;
}

.Air_system {
    color: #2271B2;
}

.Airline {
    color: #F748A5;
}

.Late_aircraft {
    color: #359B73;
}

.Security {
    color: #F0E442;
}

.Weather {
    color: #D55E00;
}

.bold {
    font-weight: bold;
}